.logo {
  width: 100%;
}

.mobile-repair {
  background-color: #cf6e31;
  border-bottom: 1px solid #a95018;
  color: #000000;
  padding: 5px 0;
}

.mobile-repair h3 {
  font-size: 1.6em;
  margin: 10px 0 5px;
}

.mobile-repair p {
  font-size: 1.2em;
}

/* Overrides Bootstrap */
.jumbotron {
  margin-bottom: 0;
}

.parts-service {
  border-bottom: 1px solid #dddddd;
  padding: 20px 0 25px 0;
}

.sales-container {
  margin-bottom: 20px;
  margin-top: 50px;
}

/* Overrides Bootstrap */
.page-header {
  margin-top: 0;
}

/* Overrides Bootstrap */
.panel {
  margin-bottom: 30px;
}

/* Overrides Bootstrap */
.btn-primary {
  color: #fff;
  background-color: #4db12a;
  border-color: #369114;
}

/* Overrides Bootstrap */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #1f7001;
  border-color: #165000;
}

.rv-image {
  width: 100%;
}

.rv-price {
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0;
}

.consignment {
  background-color: #4db12a;
  border-top: 1px solid #369114;
  color: #ffffff;
}

.footer {
  background-color: #222222;
  color: #eeeeee;
  padding: 20px 0;
}

.footer h3.info {
  font-size: 2.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer p.info {
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 20px;
}