.orange-stripe {
  background-color: #cf6e31;
  border-bottom: 1px solid #a95018;
  height: 20px;
}

.detail-container {
  margin-bottom: 20px;
  margin-top: 50px;
}

/* Overrides bootstrap.css and alamorv.css  */
.panel {
  margin-bottom: 20px;
}

.panel-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 0;
}

.description {
  font-size: 16px;
  margin: 15px 0;
}

.data-table {
  font-size: 16px;
}

.back-btn {
  margin-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
}

.key {
  font-weight: 500;
}

.value {
  text-align: right;
}

.rv-image {
  margin-bottom: 30px;
  cursor: pointer;
}

.rv-img-lg {
  width: 80%;
}

.mobile-repair {
  border-top: 1px solid #a95018;
}

.parts-service {
  border: 0;
}

.arv-return-link-top {
  margin-bottom: 10px;
}

.arv-return-link-bottom {
  margin-top: 10px;
}
